services:
  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - ./mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    depends_on:
      - db
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "8080:80"

  webserver:
    build: .
    depends_on:
      - db
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html/
    environment:
      - DB_HOST=db
      - DB_USER=${MYSQL_USER}
      - DB_PW=${MYSQL_PASSWORD}
      - DB_NAME=${MYSQL_DATABASE}